<footer class="border-top p-1" style="position: sticky; bottom: 0;">
    <div class="d-flex justify-content-between align-items-center h-100">
        <div class="d-flex align-items-center gap-2">
            <img src="static/favicon.png" style="width: 40px; height: 40px;">
            <div class="d-flex flex-column align-items-end">
                <span style="font-size: 1.1em; font-weight: 400;">SULSUL Admin</span>
                <span style="font-size: 0.9em; font-weight: 300;">v0.0.1</span>
            </div>
        </div>

        <div class="container" style="width: 250px;">
            <div class="row">
                <a href="https://github.com/project-sulsul" class="col link-secondary">GitHub</a>
                <a href="https://project-sulsul.atlassian.net/jira/software/projects/SUL/boards/1/timeline" class="col link-secondary">Jira</a>
            </div>
            <div class="row">
                <a href="/docs" class="col link-secondary">API Documents</a>
            </div>
        </div>
    </div>
</footer>