<div id="side-menu-collapse" class="collapse collapse-horizontal" style="border-right: 1px solid lightgray;">
    <div class="d-flex flex-column" style="width: 180px;">
        <div class="d-flex justify-content-between align-items-center p-3">
            <span class="user-select-none" style="font-size: 1.2em; font-weight: 100;">메뉴</span>
            <button class="btn btn-close" data-bs-toggle="collapse" data-bs-target="#side-menu-collapse" ></button>
        </div>
        <div class="">
            
        </div>
    </div>
</div>
